.center-main-about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.about-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding: 26px 20px 14px 20px;
  height: fit-content;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.about-team-flex{
  display: flex;
  flex-direction: column;
  
}
.aboutFlex{
  margin-top:300px;
  display: flex;
  justify-content: space-between;
}

.circle-border {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 74px;
  width: 102px;
  border-radius: 72px;
  /* animation: rotateCircle 2s linear 0s infinite forwards;
  background: linear-gradient(45deg, var(--bg-primary), var(--lightest-grey))
    content-box; */
}
.profile-pic1 {
  height: 150px;
  width: 150px;
  border-radius: 72px;
  /* animation: rotateCircle 2s linear 0s infinite reverse; */
}

.about-express {
  color: var(--bg-primary);
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.about-line {
  border-bottom: solid 1px var(--bg-primary);
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.about-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0 36px 0 36px;
  height: 100%;
  width: 100%;
}

.motto-team-about {
  padding: 22px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  height: fit-content;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 20px rgba(34, 34, 34, 9%);
  animation: 0.5s ease-in 0s 1 opacityUp;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: center;
}

.about-page-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
  background-color: var(--lightest-grey);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-grey);
  letter-spacing: 2px;
}

.about-page-div #scorecard {
  height: fit-content;
  height: 24px;
  width: fit-content;
  padding: 18px 32px 18px 32px;
  box-sizing: border-box;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.about-page-div #scorecard:hover {
  cursor: pointer;
  background-color: var(--bg-primary);
  color: white;
}

.back-to-about-main {
  animation: 0.3s ease-in 0s 1 backLeft forwards;
  letter-spacing: 2px;
}

.back-button-to-about {
  border-radius: 290px;
  padding: 10px 24px;
  width: fit-content;
  background-color: #ec7905;
  color: white;
  font-weight: 500;
}

.back-button-to-about:hover {
  cursor: pointer;
  background-color: #f89634;
}

.profile-pic {
  height: 72px;
  width: 72px;
  border-radius: 72px;
  animation: rotateCircle 2s linear 0s infinite reverse;
}

.circle-border-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 74px;
  width: 102px;
  border-radius: 72px;
  animation: rotateCircle 2s linear 0s infinite forwards;
  background: linear-gradient(45deg, var(--bg-primary), var(--lightest-grey))
    content-box;
}

.name-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  height: 72px;
  width: 100%;
  padding: 6px 10px;
  gap: 8px;
  letter-spacing: 1px;
}

.full-name {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
}

.role {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding-left: 2px;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-about-me-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-height: 100%;
  width: 100%;
  gap: 12px;
}

.link-to {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
}

.main-text-body {
  font-size: 18px;
  line-height: 24px;
  max-height: 375px;
  overflow-y: auto;
}

.main-text-body::-webkit-scrollbar {
  display: none;
}

.text-body {
  height: fit-content;
}

.link-to #logo {
  animation: 0.1s ease-in 0s 1 glowrs both;
}

.link-to #logo:hover {
  animation: 0.1s ease-in 0s 1 glowfwd both;
}

@keyframes opacityUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backLeft {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes glowfwd {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes glowrs {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
