.center-main-about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.about-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  padding: 26px 20px 14px 20px;
  height: fit-content;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.about-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 14px 36px;
  height: 100%;
  width: 100%;
}

.motto-team-about {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50%;
  width: 100%;
  box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.3);
  animation: 0.5s ease-in 0s 1 opacityUp;
}

.about-page-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
  background-color: #ec7905;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.about-page-div #scorecard {
  height: fit-content;
  height: 24px;
  width: fit-content;
  padding: 18px 32px 18px 32px;
  box-sizing: border-box;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.about-page-div #scorecard:hover {
  cursor: pointer;
  background-color: #f89634;
}

.back-to-about-main {
  animation: 0.5s ease-in 0s 1 backLeft forwards;
}

.back-button-to-about {
  border-radius: 12px;
  padding: 10px 24px;
  width: fit-content;
  background-color: #ec7905;
  color: white;
  font-weight: 500;
}

.back-button-to-about:hover {
  cursor: pointer;
  background-color: #f89634;
}

.profile-pic {
  height: 72px;
  border-radius: 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-about-me-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  gap: 12px;
}

.link-to {
  display: flex;
  flex-direction: row;
}

@keyframes opacityUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backLeft {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
