.carousel-control-btn {
  position: absolute;
  margin: auto;
  z-index: 12;
  background: none;
  border: none;
  font-size: 2rem;
  color: rgb(90, 90, 90);
}

.carousel-control-btn:disabled {
  color: rgb(224, 224, 224);
}

.back {
  left: -35px;
}
.next {
  right: -28px;
}

.relative {
  position: relative;
}
