.cart-container {
  margin: 30px 10px 0 10px;
}
.order-detail {
  display: flex;
  justify-content: space-between;
}

.order-lists-container {
  background-color: var(--lightest-grey);
  /* margin: 40px 0 0 0; */
  /* height: 640px; */
  margin-top: 40px;
  border-radius: 20px;
  height: 603px;
}

.order-number {
  background-color: var(--bg-primary);
  font-size: 13px;
  color: white;
  height: 20px;
  border-radius: 4px;
  height: 30px;
  padding: 8px;
}

.date {
  font-size: 13px;
  color: var(--dark-grey);
  padding: 9px 3px 0 0;
}
/* 
.item-cards-container {
  display: flex;
  flex-direction: column;
} */

.order-item-card {
  /* justify-content: space-between; */
  /* padding-top: 20px; */
  margin: 10px 10px 0 10px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  height: 92px;
  padding-bottom: 6px;
}
.order-detail-right {
  display: flex;
  flex-direction: column;
  margin: 12px 15px 0 15px;
}

.order-item-price {
  margin-top: 8px;
}

.qty-button {
  margin-top: 8px;
  background-color: var(--lightest-grey);
  border-radius: 25px;
  height: 25px;
  width: 70px;
  text-align: center;
  color: black;
}

.order-item-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 12px;
}

.order-item-price {
  color: var(--bg-primary);
}

.plus-button {
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  padding: 0 7px 0 7px;
  font-size: 16px;
}

.minus-button {
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  padding: 0 7px 0 7px;
  font-size: 20px;
}

.item-cards-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 260px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.receipt-container {
  background-color: white;
  border-radius: 8px;
  margin: 4px 10px 0 10px;
  padding-top: 4px;
  height: 285px;
}

.receipt-container > div {
  cursor: pointer;
}

.delete-button {
  color: rgb(203, 49, 49);
  margin-top: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.qty-change-section {
  display: flex;
}

.payment {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 0 8px;
  font-size: 14px;
}

.payment-text {
  color: var(--dark-grey);
  font-size: 12px;
}

.payment-method {
  display: flex;
  font-size: 12px;
  color: var(--dark-grey);
}

.order-button {
  background-color: var(--bg-primary);
  border: none;
  height: 30px;
  margin: 10px 5px 0 5px;
  width: 200px;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
}

.payment-debit,
.payment-cash,
.payment-code {
  width: 60px;
  height: 80px;
  background-color: transparent;
  border: 1px solid var(--light-grey);
  margin: 10px 5px 0 5px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.sub-total {
  margin-bottom: 5px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.sales-tax {
  margin-bottom: 20px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.total-text {
  margin: 10px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}

.total-container {
  margin: 10px 5px 0 5px;
  border-bottom: 1px dashed var(--dark-grey);
  font-size: 13px;
}

.amount {
  color: var(--dark-grey);
  letter-spacing: 1px;
}

.active-payment {
  background-color: var(--sub-color);
  color: var(--bg-primary);
  border-color: var(--bg-primary);
}
