.history-container {
  background-color: var(--lightest-grey);
  height: 100%;
  overflow-y: auto;
}

/* .history-title {
  margin: 20px 0 0 25px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: var(--bg-primary);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  padding-top: 10px;
} */

.history-title {
  font-size: 22px;
  padding: 23px 0 2rem 0;
}

.history-order {
  background-color: white;
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.history-order-detail {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.history-detail {
  margin-bottom: 5px;
  font-size: 13px;
  cursor: pointer;
}

.history-order-number {
  font-size: 17px;
  margin-bottom: 5px;
}

.history-payment {
  color: var(--dark-grey);
  margin-bottom: 5px;
  font-size: 14px;
}
.checkmark {
  color: green;
  font-size: 50px;
  margin: 3px 0 0 20px;
}

.history-order-right {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.history-order-left {
  display: flex;
}

.history-payment-detail {
  display: flex;
  margin: 5px 20px 5px 0;
}

.history-time {
  color: var(--dark-grey);
  font-size: 14px;
  /* margin-left: 80px; */
  margin-right: 10px;
}

.history-price {
  margin: 5px 10px 0 0;
  font-size: 14px;
  letter-spacing: 2px;
}

.history-payment-method {
  background-color: var(--lightest-grey);
  color: var(--dark-grey);
  border-radius: 20px;
  font-size: 14px;
  height: 25px;
  width: 90px;
  padding: 5px 0 0 7px;
  text-transform: capitalize;
}

.history-order-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  padding: 0 0 0 0;
  margin: 0 20px 0 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.history-order-breakdown {
  background-color: white;
  height: 60px;
  margin: 20px 20px 20px 80px;
  padding-left: 10px;
  display: flex;
  overflow: hidden;
}

.history-order-detail-container {
  display: flex;
  justify-content: space-between;
}

.detail-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail-qty-section {
  display: flex;
}

.history-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.detail-qty {
  font-size: 13px;
  letter-spacing: 2px;
  color: var(--dark-grey);
}

.detail-total {
  letter-spacing: 2px;
  font-size: 15px;
  margin-left: 320px;
}

.detail-each-price {
  letter-spacing: 2px;
  font-size: 13px;
  color: var(--dark-grey);
  display: flex;
}

.each-order-detail {
  margin-left: 20px;
  flex-grow: 1;
}
