.item.add-new-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: var(--bg-primary);
  border: 1px dashed;
  letter-spacing: 0.5px;
  height: 190px;
}

.add-button {
  margin-bottom: 15px;
}

/* product modal css */

.product-form-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  color: var(--dark-grey);
  margin-bottom: 20px;
  border: none;
  padding-left: 10px;
  letter-spacing: 2px;
  box-shadow: 0px 0px 14px 1px rgba(17, 17, 26, 0.18);
}

.pic-input {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  color: var(--dark-grey);
  margin-bottom: 13px;
  border: none;
  padding-left: 10px;
  box-shadow: 0px 0px 14px 1px rgba(17, 17, 26, 0.18);
  letter-spacing: 2px;
}
.select-option {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  color: var(--dark-grey);
  margin-bottom: 20px;
  border: none;
  padding-left: 8px;
  box-shadow: 0px 0px 14px 1px rgba(17, 17, 26, 0.18);
  letter-spacing: 2px;
}

.modal-title {
  margin: 20px 0 30px 0;
  font-size: 25px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
}

.product-modal {
  height: 560px;
  border-radius: 10px;
  top: 40% !important;
}

.save-button {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  width: 150px;
  height: 33px;
  color: white;
  border-radius: 20px;
  margin: 20px 0 0 2px;
}

.cancel-button {
  background-color: white;
  border: 1px solid var(--bg-primary);
  width: 150px;
  height: 33px;
  color: var(--bg-primary);
  border-radius: 20px;
  margin: 20px 2px 0 0;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.save-button:hover {
  background-color: var(--bg-primary);
  color: white;
}

.photo-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
  padding-top: 24px;
}

.add-photo {
  margin-bottom: 10px;
}
/* category modal */

.category-modal {
  width: 383px;
  height: 220px;
  border-radius: 10px;
}

.title-input {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  color: var(--dark-grey);
  margin-bottom: 13px;
  border: none;
  padding-left: 10px;
  letter-spacing: 2px;
  box-shadow: 0px 0px 14px 1px rgba(17, 17, 26, 0.18);
}

.add-category-title {
  margin: 20px 0 30px 0;
  font-size: 25px;
  text-align: center;
  color: black;
  letter-spacing: 0.5px;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
}

/* menu css */
