.modal-overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Order {
  position: sticky;
  top: 0px;
  height: 100%;
  /* overflow-y: auto; */
}

.modal {
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 12px 16px;
  position: relative;
}

.Menu {
  height: 100%;
  /* overflow-y: scroll; */
}

.exit-modal {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: none;
  color: black;
  font-size: 25px;
  position: absolute;
  top: 195px;
  right: 195px;
  z-index: 5;
  width: 31px;
  height: fit-content;
  background-color: white;
  border-radius: 32px;
  border: 1px solid black;
}
